body, html {
    background-color: #FFFFFF;
    color: black;
    font-size: 16px;
}

a, a:visited {
    color: #555555;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 640px;
}

header, footer {
    margin: 3em 0;
    text-align:center;
}

footer {
    text-align: center;
}

header img {
    margin: 1em 0;
    width: 5em;
}

header h1 {
    margin: 0;
}

h1 {
    text-align:center;
}

div.track {
    border-left: 0.5em solid #555555;
    margin: 2em;
    padding-left: 1em;
}

div.track h4 {
    margin: 0;
    padding: 0em;
}
div.track p {
    margin: 0.1em;
}

div.track div.content {
    padding: 0.5em;
}


#note {
    margin: 0;
    padding: 0;
}

#info, #autore {
    text-align: left;
}
